{{ $url := .url }}
{{ $videoID := "" }}
{{ if findRE `youtube\.com/shorts/` $url }}
  {{ $videoID = replaceRE `.*youtube\.com/shorts/([^?&]+).*` "$1" $url }}
{{ else if findRE `[?&]v=` $url }}
  {{ $videoID = replaceRE `.*[?&]v=([^&]+).*` "$1" $url }}
{{ else if findRE `youtu\.be/` $url }}
  {{ $videoID = replaceRE `.*youtu\.be/([^?&]+).*` "$1" $url }}
{{ end }}
{{ if ne $videoID "" }}
<div class="video-embed">
  <iframe
    src="https://www.youtube.com/embed/{{ $videoID }}"
    title="{{ .name }} demonstration"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>
{{ end }}
